@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
	height:0.8em;
    width:0.6em;
    transition: 1s ease;
}
::-webkit-scrollbar-thumb{
    background: rgb(114, 114, 114);
}
::selection{
	color:rgb(185, 255, 161);
	border-radius:16px;
	background-color:rgba(0, 0, 0, 0.3);
}
::placeholder{
	color:#ffffffa2;
}
body{
	font-family:"Martian Mono";
	background:rgb(109, 109, 109);
	color:white;
	text-align:center;
	display:grid;
	background-attachment:fixed;
	transition:0.1s ease;
}
button{
	font-family:"Martian Mono";
	background:transparent;
	color:inherit;
	font-size:1.2em;
	margin:0.2vh;
	padding: 8px;
	border:2px solid transparent;
	border-bottom:2px solid;
	border-radius:0.4vw;
	transition:0.2s ease;
	&:hover{
		font-size:1.5em;
		/* filter:drop-shadow(5px 5px 10px #cb70ff); */
		background:rgba(255, 255, 255, 0.5);
		border-radius:0.4vw;
		border:1px solid transparent;
		cursor:pointer;
	}
}
select{
	color:inherit;
	background:rgba(0,0,0,0);
	padding:0.7vh;
	border-radius:1vh;
	transition:0.4s ease;
	&:hover{
		cursor:pointer;
		color:inherit;
		background:rgba(0,0,0,0);
		padding:0.7vh;
		border-radius:1vh;
		transition:0.4s ease;
	}
}
option{
	background:black;
	color:white;
}
text{
	word-wrap:break-word;
	text-align:center;
	cursor:default;
}
a{
	color:inherit;
	word-wrap:break-word;
	text-align:center;
	cursor:pointer;
}
img{border-radius:0.5vw;}
.range{
	color:red;
	cursor:grab;
}
.range:active{
	cursor:grabbing;
}
.WorkspaceButton{
	position: absolute;
	border:transparent;
	color:black; 
	/* border:2px solid rgb(0, 0, 0); */
	
	background: rgba(255, 255, 255, 0.5);
	&:hover{
		filter: drop-shadow(8px 8px 16px white);
		color:white;
		/* border:2px solid rgb(255, 255, 255); */
	
		background: rgba(0, 0, 0, 0.5);
	}
}
#Main{
	transition:0.1s ease;
}
.horizontalCenter{
	display:flex;
	align-items:center;
	justify-content:center;
	display:flex;
	flex-direction:column;
	transition:0.5s ease;
}
.hidden{
	pointer-events:none;
	position:absolute;
	opacity:0%;
}
.InputText{
	text-align:center;
	width:15%;
	font-size:1em;
	padding:9px 3vw 9px 3vw;
	color:white;
	background:transparent;
	border:0.2em solid white;
	border-radius:1vw;
	transition:0.2s ease-out;
	&:hover{
		text-align:center;
		background:rgba(255,255,255,0.3);
		border:0.2em solid rgb(166, 0, 255);
		transition:0.3s ease-out;
	}
	&:focus{background:rgba(255,255,255,0.3);}
}
.Search{
	accent-color:transparent;
	text-align:center;
	width:15%;
	font-size:1em;
	padding:9px 3vw 9px 3vw;
	color:white;
	background:transparent;
	border:0.2em dashed white;
	border-radius:1vw;
	transition:0.4s ease-out;
	&:hover{
		text-align:center;
		background:rgba(255,255,255,0.3);
		border:0.2em solid white;
		transition:0.4s ease-out;
	}
	&:focus{background:rgba(255,255,255,0.3);}
}
.clicker{
	min-height:21vh;
	min-width:21vh;
}
.left{
	position:absolute;
	display:flex;
	left:1em;
	flex-direction:column;
}
.top{
	z-index:0;
	position:absolute;
	margin-top:1em;
	width:100%;
	height:5em;
	display:flex;
	transition:0.3s ease;
}
.TopCenter{
	z-index:-1;
	left:0px;
	right:0px;
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.center{

	word-wrap: break-word;
	width:99vw;
	height:93vh;
	display:flex;
	flex-direction: column;
	vertical-align:middle;
	align-items:center;
	justify-content:center;
}
.bottom{
	position:absolute;
	display:flex;
	flex-direction:column;
	width:100%;
	margin-bottom:16px;
}
.right{
	z-index:0;
	display:flex;
	position:fixed;
	right:1em;
	align-items:flex-end;
	flex-direction:column;
	justify-content:end;
}

.count{
	transition:0.2s ease-in-out; 
	margin-top:15px;
	backdrop-filter: blur(30px);
	position:sticky; 
	padding:0.4em; 
	border-radius:0.6em; 
	/* border-bottom:0.1vw solid rgb(255, 255, 255); */
}

.clicker{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	cursor:pointer;
}
.Heading{
	pointer-events:none;
	margin-top:1em;
	margin-bottom:1em;
	font-size:2em;
	padding:10px 10px 10px 10px;
	filter:drop-shadow(20px 8px 15px #4d4438);
}
.CollectionGif{
	background:rgba(255,255,255,0.2);
	border-radius: 1em;
	border: dashed white 2px;
	word-wrap:break-word;
	height: 21em;
	width:16em;
	margin: 0.83vw;
	padding:0.5em;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px;
	background-position-y:top;
	justify-content:end;
	vertical-align:bottom;
	flex-direction:column;
	display:flex;
	background-position: 50% 50%;
	transition: 0.3s ease-in-out;
	&:hover{border: solid white 2px; background-size: 130%; background-position: 50% 0%;}
}
.ProductBlock{
	vertical-align:middle;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
	background:rgba(255,255,255,0.2);
	padding:2% 10%;
	border:2px solid transparent;
	border-radius:1em;
	margin:0px 10px 30px 10px;
	transition:0.4s ease-in-out;
	&:hover{
		border:2px solid rgba(255,255,255,0.6);
		background:rgba(134, 134, 134, 0.3);
		transition:0.2s ease-in-out;
	}
}
.allgifs{
	margin-top:40px;
	padding:1%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	transition:0.2s ease-in-out;
}
.window{
	display:none;
	flex-direction:row;
	min-height:98vh;
	width:100%;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, 0.4);
	/* /backdrop-filter:blur(30px); */
	opacity:0;
	transition:0.3s ease;
	z-index:2;
}
#Alert{
	opacity:0%;
	color:white;
	border-radius:1em;
	transition:0.4s ease-in-out;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	padding:8px;
	height:16em;
	width: 16em;
	display:flex;
	flex-direction: column;
	vertical-align:middle;
	align-items:center;
	justify-content:center;
	backdrop-filter:blur(32px);
}